@page "/fetchdata"
@using Microsoft.AspNetCore.Authorization
@using zbw.Auftragsverwaltung.Client
@using zbw.Auftragsverwaltung.Domain.Common
@using zbw.Auftragsverwaltung.Domain.Customers
@inject IAuftragsverwaltungClient auftragsverwaltungClient
@attribute [Authorize]

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in _customers.Results)
            {
                <tr>
                    <td>@customer.Firstname</td>
                    <td>@customer.Lastname</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private PaginatedList<CustomerDto> _customers;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _customers = await auftragsverwaltungClient.Customer().List();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }

    }

}
