@page "/"

<MudGrid>
    <MudItem xs="12" sm="12" md="12">
        <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
            <h1>Hello, world!</h1>

            Welcome to your new app.
        </MudPaper>
    </MudItem>
</MudGrid>


